[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eve = "*"
flask = "*"
kombu = "*"
celery = "*"
asyncio = "*"
sphinx = "*"
"nose2" = "*"
eve-swagger = "*"
python-dotenv = "*"
six = "*"
flask-cors = "*"
python-jose-cryptodome = "*"
flask-oauthlib = "*"
simplejson = "*"
cidc_utils = {git = "https://github.com/dfci/cidc-utils.git"}

[dev-packages]

[requires]
python_version = "3.6"
