[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-jose = "*"
kombu = "==4.1.0"
bson = "*"
Flask = "*"
Flask-OAuthlib = "==0.9.4"
"nose2" = "==0.7.4"
Eve = "==0.8"
python-dotenv = "*"
Cerberus = "==1.2"
cidc_utils = {git = "https://github.com/CIMAC-CIDC/cidc-utils"}
python-json-logger = "*"
google-cloud-logging = "*"
gunicorn = "*"
redis = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
eve-swagger = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
black = "*"

[requires]
python_version = "3.6"
