[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-jose = "*"
kombu = "*"
bson = "*"
flask = "==0.12"
flask-oauthlib = "==0.9.4"
nose2 = "==0.7.4"
eve = "==0.7.8"
eve-swagger = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"

[requires]
python_version = "3.6"
