amqp==2.4.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==18.2.0
authlib==0.10
cachetools==3.1.0
cerberus==1.2
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
click==7.0
coverage==5.0a4
cryptography==2.5
ecdsa==0.13
eve-swagger==0.0.11
eve==0.8.1
events==0.3
flask-oauthlib==0.9.5
flask==1.0.2
future==0.17.1
git+https://github.com/CIMAC-CIDC/cidc-utils#egg=cidc-utils
google-api-core==1.8.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-logging==1.9.1
googleapis-common-protos==1.6.0b8
grpcio==1.19.0rc1
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.10
kombu==4.1.0
markupsafe==1.1.1
more-itertools==6.0.0; python_version > '2.7'
nose2==0.7.4
oauth2client==4.1.3
oauthlib==2.1.0
pluggy==0.9.0
protobuf==3.7.0rc2
py==1.8.0
pyasn1-modules==0.2.4
pyasn1==0.4.5
pycparser==2.19
pymongo==3.7.2
pytest-cov==2.6.1
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest==4.3.0
python-dotenv==0.10.1
python-jose==3.0.1
python-json-logger==0.1.10
pytz==2018.9
redis==3.0.1
requests-oauthlib==0.8.0
requests==2.21.0
rsa==4.0
simplejson==3.16.0
six==1.12.0
urllib3==1.24.1
vine==1.2.0
werkzeug==0.14.1
